#!/bin/bash
# /etc/rc.local - Run at system boot
# 
# This should be linked to /etc/rc.local:
#   sudo ln -sf /home/jzzn/dev/rSwitch/tools/scripts/jzzn/rc.local.new /etc/rc.local
#   sudo chmod +x /etc/rc.local

# Wait for network to be ready
sleep 5

# Start rSwitch
/home/jzzn/dev/rswitch/scripts/rswitch_start.sh

sleep 5

/home/jzzn/dev/rswitch/build/rsqosctl add-class --proto tcp --dport 22 --priority normal
/home/jzzn/dev/rswitch/build/rsqosctl add-class --proto udp --dport 67 --priority normal
/home/jzzn/dev/rswitch/build/rsqosctl add-class --proto udp --dport 68 --priority normal

exit 0
